.SlideMe {	
	position: relative; 
	left: 0px; 
	top: 3px;
	width: 786px; 
	height: 198px;
	text-align: center; 
	overflow: hidden; 
	margin: 0px auto;
	margin:10px;
}

.SlideMe ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
	position: relative;
	left: 0px;
	top: 0px;
	}
.SlideMe ul li{
	float: left;
	margin: 0;
	display: list-item;
	text-align: -webkit-match-parent;
	margin-right: 3px;
	}

.demo h1 {
	font-family:Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
	font-size:large;
}

.demo{
	border:1px solid #959DA2;    
	/*padding:0px 20px 10px 20px;*/ 
	border-radius:15px;
	margin:10px;
	background:#ECEFEF;
    width:805px;
}

.demo .heading{
	width:100%;
	background:#797979;
	color: #fdfdfd;
	-moz-border-radius: 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px; 
	padding:5px 0px 2px 0px;
}

.demo .heading h1 {
	margin:15px;
}

.buttons {
    padding:10px;
}

.buttons a {
    padding: 10px 15px;
    background: #797979;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}